* {
    font-family: Metropolis, sans-serif;
}

/* start header menu */
header {

    .logo {
        margin-right: 20% !important;
    }

    nav {
        .black_menu {
            .nav-item {
                .nav-link {
                    &.active {
                        border-bottom: 2px solid #F54838;
                    }
                }
            }
        }
    }

    &#header_white {
        .nav-item {
            .nav-link {
                &.active {
                    border-bottom: 2px solid #F54838;
                }
            }
        }
    }
}

/* end header menu */

/* start sign up */

.sign-up {
    .basic-form {
        .custom-radios {
            input[type=radio] {
                &#lawyer, &#lawyer {
                    display: none;
                }
            }
        }
    }
}


/*end sign up*/

/*start Home*/

.legal-work {
    padding: 65px 162px 110px 84px;

    .legal-work-content {
        .legal-work-title {
            font-family: Metropolis, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            text-transform: capitalize;

            color: #241F2D;
            padding-top: 8px;
            //padding-bottom: 87px;
        }

        .legal-work-text {
            padding-top: 55px;

            .legal-work-text-item {
                padding-top: 29px;
                font-family: Metropolis, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                color: #000;

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 13px;
                }
            }
        }

        .legal-work-btn {
            display: flex;
            flex-direction: column;
            padding: 12px 20px;

            width: 180px;
            height: 44px;

            background: #F54838;
            border-radius: 4px;
            text-decoration: none;

            font-family: Metropolis, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;

            color: #FFFFFF;

            margin: 0;
            margin-top: 80px;
        }
    }
}

.legal-work-img-wrap {

    position: relative;

    .image-wrap {

        position: absolute;

        .legal-work-img {
            width: 100%;
        }
    }
}

.translators_container_block_row {
    &:nth-child(1) {
        .translators_block_rows {
            &:nth-child(1) {
                border-top-left-radius: 4px;
            }

            &:nth-child(4) {
                border-top-right-radius: 4px;
            }

        }
    }

    &:nth-child(2) {
        .translators_block_rows {
            &:nth-child(1) {
                border-bottom-left-radius: 4px;
            }

            &:nth-child(4) {
                border-top-right-radius: 4px;
            }
        }
    }
}

#translators_container_block {
    padding-top: 0 !important;
    margin-top: 40px !important;
}

#help_container {
    padding: 124px 0 60px 96px;
    margin-bottom: 100px;
    max-width: 80%;

    .help_left {
        padding-right: 30px;

        .help_text_container {
            p:nth-child(2) {
                max-width: 60%;
            }
        }
    }

    img {
        &.img-fluid {
            align-self: center;
            margin-right: -15%;
            margin-top: -55px;
            max-width: 100%;
        }
    }
}

/*end Home*/

/*start About*/
#header_background {
    &.about-header-bg {
        width: 100%;
        background: url(../img/about-bg-t.png) no-repeat top;
        background-size: cover;


        .about-header-icon {
            margin-top: 153px;
            margin-bottom: 15px;
        }

        .hedding_text_container {
            h1 {
                padding-top: 0;
            }

            h3 {
                padding-top: 20px;
            }
        }
    }
}

.bg-color-t {
    background: linear-gradient(180deg, #F3F6FB 0%, #FFFFFF 100%) !important;
}

.goals-content {
    .goals-bg {
        .abs {
            position: absolute;
            top: -140px;
            left: -262px;
            bottom: 0;
            width: 178%;

            img {
                width: 100%;
            }
        }

        .goals-block {
            padding: 120px 50px 122px;

            .goals-block-item {
                .goals-block-text {
                    ul {
                        li {
                            list-style-type: disc;
                        }
                    }
                }
            }

            .goals-block-title {

            }
        }

    }
}

/*end About*/

/*start Profile page*/

.per-hour-border {
    border: 1px solid #ced4da;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    option {
        font-size: 14px !important;
    }

    .btn {
        color: #241F2D;
        font-size: 14px;
        vertical-align: middle;
    }
}

.languages-select {
    div, select, option {
        color: #241F2D;
        font-size: 14px;
        vertical-align: middle;
    }

    select {
        padding: 8px 12px;
    }
}

/*end Profile page*/

/*start How It Works page*/
.how-it-works-top {
    .how-it-works-head {
        .how-it-works-tabs {
            ul {
                &.nav-tabs {
                    border-bottom: none;
                }

                li {
                    &:nth-child(1) {
                        border-radius: 4px 0 0 4px;

                        a {
                            &.tab-button {
                                border-radius: 4px 0 0 4px;
                            }
                        }
                    }

                    &:nth-child(2) {
                        border-radius: 0 4px 4px 0;
                        border-color: blueviolet !important;

                        a {
                            &.tab-button {
                                border-radius: 0 4px 4px 0;
                            }
                        }
                    }

                }
            }
        }
    }

    .tab-body {
        .bg-5 {
            background-image: url("../img/5.svg");
            background-repeat: no-repeat;
            margin-top: 200px;

        }
    }
}


/*end How It Works page*/

@media only screen and (max-width: 1284px) {
    .goals-content {
        .goals-bg {
            .abs {
                width: 188%;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    #help_container {
        img {
            &.img-fluid {
                max-width: 50%;
            }
        }
    }
    .goals-content {
        .goals-bg {
            .abs {
                width: 192%;
            }
        }
    }
}

@media only screen and (max-width: 1120px) {
    header {
        .logo {
            margin-right: 15% !important;
        }
    }
    .goals-content {
        .goals-bg {
            .abs {
                width: 202%;
            }
        }
    }
}
@media only screen and (max-width: 1056px) {
    header {
        .logo {
            margin-right: 9% !important;
        }
    }
}
@media only screen and (max-width: 993px) {
    header {
        .logo {
            margin-right: 9% !important;
        }
    }
    #help_container {
        img {
            &.img-fluid {
                max-width: 55%;
            }
        }
    }
}

@media (max-width: 860px) {
    #help_container {
        max-width: 100%;

        .help_left {
            padding: 0 40px 40px 40px;

            .help_text_container p:nth-child(2) {
                max-width: 100%;
            }
        }

        img {
            &.img-fluid {
                margin-right: -15%;
                margin-top: 0;
                max-width: 100%;
            }
        }
    }


}

@media only screen and (max-width: 768px) {
    .legal-work-img-wrap {
        zoom: normal;
    }
    .content {
        .profile {
            .profile-section {
                &.practice-location-section {
                    input {
                        color: #241F2D;
                        padding: 8px 12px;
                        border: 1px solid #D6D5D7;
                        font-size: 14px;

                    }

                    input[name='profile[country]'],
                    input[name='profile[state]'],
                    input[name='profile[city]'],
                    input[name='profile[address]'] {
                        border-radius: 4px;
                    }

                }
            }
        }
    }


}


