$base-orange: #F54838;
@import "fonts";

.show-read-more {
    .more-text {
        display: none;
    }
}

.posts-block {
    padding-top: 90px;

    .posts-title {
        font-weight: 600;
        font-size: 34px;
        text-transform: capitalize;

        color: #000000;
    }

    .posts-sort-block {
        padding-top: 12px;
        padding-bottom: 40px;

        color: #555555;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;

        span {
            color: #000000;

            i, svg {
                color: #555555;
                font-size: 10px;
                margin-left: 8px;
            }
        }
    }

    .post-item {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 36px;

        .post-item-title {
            font-size: 20px;
            line-height: 24px;

            color: #000000;

        }

        .post-item-text {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;

            color: #000000;

            .read-more {
                padding-left: 8px;
                color: #F45644;
            }

            padding-top: 8px;
            padding-bottom: 35px;

        }


        .posts-spec-block {
            h6 {
                font-weight: 600;
                font-size: 13px;
                line-height: 18px;

                text-decoration: underline;
                text-decoration-color: rgba(118, 116, 125, 0.6);

                color: #241F2D;

                margin: 4px 0;

                &.title {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;

                    color: #76747D;

                    margin: 4px;
                    text-decoration-line: none;
                }

            }
        }

        .post-item-sub-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;

            color: #000000;
            padding-bottom: 8px;
        }

        .post-item-posted-time {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;

            color: #666666;
            padding-bottom: 8px;
        }

        .post-item-bids-count {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;

            color: #666666;
            padding-bottom: 45px;

            span {
                color: #000000;
            }
        }

        .post-item-event-block {
            font-size: 20px;

            &.event-bookmark {

            }
            .fa-trash-alt {
                color: #f45644;
            }

            .fa-edit {
                color: #666666;
            }
            .fa-bookmark {
                color: #000;
            }
        }
    }

    /*more , less */
    a.morelink {
        text-decoration: none;
        outline: none;
        color: #f45644;

    }

    .morecontent span {
        display: none;
    }

    .comment {
        margin: 10px;
    }

    /*more , less */

}


/* find a job page */
.find-job-form {
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 48px;
    .btn-group {
        &:nth-child(1) {
            width: 90%;
        }

        &:nth-child(2) {
            width: 10%;
        }
    }

    .find-job-select-item {
        background: #FFFFFF;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

        border: 1px solid #ccc;
        border-radius: 0;
        padding: 10.5px 16px;
        width: 33.33333333%;

        .find-job-select-title {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #97959D;

        }

        .dropdown-toggle {
            font-weight: 500;
            font-size: 15px;

            color: #000000;

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            padding-top: 5px;

        }

        .dropdown-menu {
            margin-left: -16px;

            &.show {
                width: 33.1%;
            }

            .dropdown-items-wrap {
                display: flex;
                flex-direction: column;

                a {
                    color: #000000;
                }
            }

        }
    }

    .find-job-search-btn {
        background-color: $base-orange;
        padding: 20px 40px;
        border: transparent;
        color: #fff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.filter-form {
    margin-top: 20px;
    margin-bottom: 40px;
    .filter-dropdowns-block {
        .filter-item {
            font-size: 14px;
            line-height: 20px;
            border: 1px solid #999999;
            color: #555555;
            border-radius: 3px;
            padding: 8px 12px;
            .filter-btn {
                &:before {
                    color: #999999;
                }
                &:after {
                    border: 0;
                }
                &.filter-btn-raiting {
                    &:before {
                        content: 'Raiting: ';
                    }
                }
                &.filter-btn-price {
                    &:before {
                        content: 'Price: ';
                    }
                }
                &.filter-btn-loc {
                    &:before {
                        content: 'Location: ';
                    }
                }
            }

            .filter-close {
                background: transparent;
                border: none;
                color: #999999;
            }
        }
        .posts-sort-block {

        }
    }
}

