@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Metropolis, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* --------------------------  header start -----------------------------------*/
.all_container_2 {
    max-width: 1208px;
    margin: auto !important;
}

#header1_navbar {
    padding: 30px 0 33px 0 !important;
}

#header1_navbar ul.black_menu a {
    margin-right: 22px !important;
    color: #241F2D !important;
}

/*#header1_navbar li a {*/
/*    margin-right: 22px!important;*/
/*    color: #241F2D!important;*/
/*}*/

#header1_navbar li a.nav-link::last-child {
    margin-right: 0 !important;
}

ul.black_menu a {

    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 20px;
    color: #241F2D !important;
}

a.home_header_sign_in {
    margin-right: 22px !important;
    color: #FFFFFF !important;
}

a.default_header_sign_in {
    margin-right: 22px !important;
    color: #F54838 !important;
}

.nav-item a.nav-link {

    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px;
    /*line-height: 20px;*/
    line-height: 5px;
    /*color: #241F2D!important;*/
}

.sign {
    background-color: #F54838 !important;
    color: #fff !important;

    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 20px;
}

.login {

    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 20px;
    color: #F54838 !important;

}


/* header end */
/*//home page start*/
#header_background {
    width: 100%;
    background: url("../img/home.png") no-repeat top;
    background-size: cover;
}


.my_container {
    max-width: 1208px;
    margin: auto;
    position: relative;
}

#header_white {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#header2_navbar {
    padding: 30px 0 0 0 !important;
}

.menu_blog {
    margin-right: 0 !important;
}

.navbar-expand-lg .white_nav a.nav-link {
    margin-right: 22px !important;
    color: #FFFFFF !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 22px !important;
    /*color: #FFFFFF!important;*/
}


#login_signup_block a {
    color: #FFFFFF !important;
}

li.home_header_default_link_login a {

    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 20px;
    color: #fff !important;
}


li.home_header_default_link_signup a {
    background-color: #F54838 !important;
    color: #fff !important;

    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 20px
}

.hedding_text_container {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.hedding_text_container h1 {
    padding-top: 152px;
    padding-bottom: 16px;

    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 120%;
    color: #FFFFFF;
}

.hedding_text_container h3 {

    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 145%;
    color: #FFFFFF !important;
    padding-bottom: 202px;
}

#home_form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto -32px auto;
    padding: 0 !important;
    z-index: 2222 !important;
    box-shadow: 0px 12px 48px rgba(118, 116, 125, 0.08), 0px 1px 1px rgba(118, 116, 125, 0.2) !important;
}

#home_form_button_block button {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 12px;
    border: none;
}

#home_form_search_btn {
    border: none;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    width: 102px;
    height: 64px;
    background: #F54838;
    border-radius: 0px 4px 4px 0px;
}

.row#home_select {
    margin: 0;
}

#label1, #label2 {
    border-radius: 4px 4px 0px 0px;
}

.btn-secondary {
    background: #3F3B48 !important;
}

label.active {
    color: #F54838 !important;
    background: #FFFFFF !important;
    border: none;
}

.select_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.select_container select {
    width: 198px;
}

.select_blocks {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #E0E0E1;
    padding: 12px 16px !important;
}

.select_container p {

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: #97959D;
}

.select_container select {
    outline: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -o-appearance: none !important;
    border: 0;
    background: transparent url("../img/Vector.svg") no-repeat right top;
    cursor: pointer;
    appearance: none !important;
    outline: none;
    font-size: 15px;

    font-style: normal;
    font-weight: 500 !important;
    font-size: 15px;
    line-height: 22px;
    color: #241F2D;
}

.select_container select::after {
    content: none !important;
    outline: none !important;
}

#section_container_home {
    max-width: 1208px;
    margin: auto;
}

.bg {
    background: linear-gradient(180deg, #F3F6FB 0%, #FFFFFF 100%);
}

#content_home_container {
    width: 100%;
    margin: auto;
    padding: 158px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.content_home_blocks {
    margin-right: 40px;
}

.content_home_blocks:last-child {
    margin-right: 0;
}

.content_home_blocks div {
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 24px;
}

.content_home_blocks h5 {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #241F2D;
    margin-bottom: 16px;
}

.content_home_blocks p {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156%;
    color: #3F3B48;
}

#find_translators_container {
    padding: 140px 0 40px 0;
}

#find_translators_container h2 {

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #241F2D;
    margin: 0;
}

#translators_container_block {
    width: 100%;
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 0 12px 48px rgba(118, 116, 125, 0.08), 0 1px 1px rgba(118, 116, 125, 0.2);
    border-radius: 4px;
}

.translators_container_block_row {
    display: flex;
    justify-content: space-around;
}

.translators_block_rows {
    width: 302px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    flex-wrap: wrap;
    border: 1px solid #EBEAEB;
}

.translators_block_rows img {
    padding: 17px 0;
}

.translators_block_rows a:hover {
    text-decoration: none;
}

.translators_block_rows h6 {
    padding-bottom: 4px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #241F2D;
}

.translators_block_rows p {

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #97959D;
    padding-bottom: 32px;
}

/*#translators_container_block_row_2 img {
    padding-top: 0;
}*/
/*
#translators_container_block_row_2 .translators_block_rows {
    padding-top: 0;
}*/

#why_choose_us_container {
    margin-top: 134px;
    text-align: center;
}

#why_choose_us_container h2 {

    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
    text-align: center;
    color: #241F2D;
    margin-bottom: 24px;
}

#why_choose_us_container h6 {

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #3F3B48;
    margin-bottom: 60px;
}

#why_choose_us_block {
    width: 100%;
    margin: 79px auto 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.img_bg_2 {
    background: #F3F6FB;
    border-radius: 50%;
    display: inline-block;
}

.why_choose_us_blocks {
    margin-right: 40px;
}

.why_choose_us_blocks:last-child {
    margin-right: 0;
}

.why_choose_us_blocks h5 {
    margin-top: 24px;
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #241F2D;
}

.why_choose_us_blocks p {

    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 156% !important;
    color: #3F3B48 !important;
    text-align: left !important;
}

a#a_findtranslators {
    text-align: center;
    background: #F54838;
    border-radius: 4px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding: 12px 20px;
    display: inline-block;
    margin: 60px auto 140px auto;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
}

a#a_findtranslators:hover {
    text-decoration: none;
}

/*----------------------- slider start  ------------- */
#clients_say {
    width: 100% !important;
    background: linear-gradient(180deg, #F3F6FB 0%, #FFFFFF 100%);
    margin-bottom: 70px;
    padding: 20px;

}

.carousel .item {
    color: #999;
    overflow: hidden;
    font-size: 13px;
    padding: 5px;
}

.carousel .item:last-child {

    padding-right: 0;
}

.carousel .media {
    position: relative;
}

.carousel .media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #fff;
}

.testimonial {
    background: #FFFFFF;
    box-shadow: 0px 12px 48px rgba(118, 116, 125, 0.08), 0px 1px 1px rgba(118, 116, 125, 0.2) !important;
    border-radius: 4px !important;

}

.carousel .testimonial p {

    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    color: #241F2D;
    margin: auto;
    text-align: left;
    padding: 48px 48px 29px 48px;
}

.carousel .testimonial::before {
    width: 20px;
    height: 20px;
    background: #9b9b9b;
    box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
}

.review_blocks {
    text-align: left;
    display: flex;
}

.carousel .carousel-control {
    margin-right: 116px;
    background: #FFFFFF;
    border-radius: 100px;
    color: #76747D;
    width: 48px;
    height: 48px;
    text-shadow: none;
    top: 4px;
}

.carousel .carousel-control:focus {
    color: #76747D;
}

.carousel .carousel-control:hover {
    color: #76747D;
}

.carousel .item .row > div:first-child .media {
    margin-left: 0;
}

.carousel .overview {
    padding: 3px 0 0 15px;
}

.carousel .overview .details {
    padding: 5px 0 8px;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #ff5555;
}

.carousel-control i {
    font-size: 16px;
}

.carousel-control.left {
    left: auto;
    right: -50px;
}

.carousel-control.right {
    right: -105px;
}

.carousel-indicators {
    bottom: -80px;
}

.carousel-indicators li, .carousel-indicators li.active {
    width: 18px;
    height: 18px;
    border-radius: 0;
    margin: 1px 4px;
}

.carousel-indicators li {
    background: #e2e2e2;
    border: 4px solid #fff;
}

.star-rating li {
    padding: 0 2px;
}

.star-rating i {
    font-size: 14px;
    color: #ffdc12;
}

h2#our_clients_h2 {

    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
    color: #241F2D;
    margin-bottom: 60px;
    margin-top: 140px;
}

.profil_review_conatner {
    padding-left: 48px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 51px !important;
}

.profil_review_conatner div {
    margin-left: 16px;
}

.profil_review_conatner div h4 {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    color: #241F2D;
}

.profil_review_conatner div span {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #97959D;
}

#slider_coll {

}

/*----------------------- slider end ------------- */

/*----------------------- help block start ------------- */
#help_container {
    background: #EAEEF5;
    border-radius: 4px;
    /*width: 60%;*/
    /*margin: 70px auto 140px auto;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}


.help_left h2 {

    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #241F2D;
}

.help_text_container h5 {
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #241F2D;
    margin-bottom: 16px;
}

.help_text_container h5::before {
    content: url("../img/lineHelp.png");
    display: block;
    background: no-repeat;
    width: 24px;
    height: 1.5px;
    margin-left: -51px;
}

.help_text_container a {
    margin-top: 10px;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F54838;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.help_text_container a:hover {
    opacity: 0.9;
    color: #F54838;
    text-decoration: none;
}

.help_left {
    /*padding-bottom: 124px;*/
}

.help_text_container h5:nth-last-of-type(1) {
    margin-top: 40px;
}

/*----------------------- help block end ------------- */

/*----------------------- get started start ------------- */

#start_using_container {
    width: 100%;
    margin: 0 auto 140px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(36, 31, 45, 0.7) 0%, rgba(28, 16, 63, 0.3) 100%), url(../img/getStarted.png);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    padding: 103px 0;
}

#start_using_container .start_using_left h4 {

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
}

.start_using_left {
    width: 55%;
}

.start_using_right {
    width: 20%;
}

.start_using_right a {

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    background: #F54838;
    padding: 12px 20px;
    border-radius: 4px;
    display: inline-block;
}

.start_using_right a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/*----------------------- get started end ------------- */

.all_container {
    max-width: 1208px !important;
    margin: auto !important;
}


/* --------------- home page end ---------------------------------------*/
/* --------------- information page start ---------------------------------------*/


.container {
    padding: 0 !important;
}

.flex-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.btn i {
    color: #C5C6C7;
}

.btn-continue {
    background: #F54838;
    border: none;
    border-radius: 4px;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    flex-direction: column;
    padding: 12px 20px;
    height: 44px;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    order: 0;
    margin: 0;
    letter-spacing: 1.1px;
}

.btn-continue:hover, .btn-continue:active {
    background-color: #f32916;
}

.input-row div {
    margin-bottom: 24px;
}

.input-row label {
    height: 20px;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3F3B48;
    margin: 0 4px;
}

.bootstrap-select .selectpicker {
    border: 1px solid #3F3B48;
    box-sizing: border-box;
    border-radius: 4px;
}

.bootstrap-select > button.dropdown-toggle {
    border: 1px solid #3F3B48;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FFFFFF !important;
}

.bootstrap-select > button.dropdown-toggle:focus {
    outline: none !important;
}

.sign-up {
    margin-bottom: 140px;
}

.sign-up .native-tabs {
    margin-top: 30px;
    background-color: #F3F6FB;
    border-bottom: none;
    min-height: 56px;
}

.sign-up .native-tabs .nav-item {
    height: 56px;
}

.sign-up .native-tabs .nav-item .nav-link {
    border: none;
    background: none;
    position: relative;
    padding: 14px 2px;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #97959D;
    margin: 8px 32px;
}

.sign-up .native-tabs .nav-item .nav-link:active, .sign-up .native-tabs .nav-item .nav-link:hover {
    color: #241F2D;
}

.sign-up .native-tabs .nav-item .nav-link:before {
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background: #C5C6C7;
    color: #fff;
    border-radius: 50%;
    margin-right: 8px;
}

.sign-up .native-tabs .nav-item #translator-info-tab:before {
    content: "1";
}

.sign-up .native-tabs .nav-item #confirm-info-tab:before {
    content: "2";
}

.sign-up .native-tabs .nav-item #complete-tab:before {
    content: "3";
}

.sign-up .native-tabs .nav-item .nav-link.active {
    border-bottom: 2px solid #F54838;
    color: #241F2D;
}

.sign-up .native-tabs .nav-item .nav-link.active:before {
    background: #241F2D;
}

.sign-up .form-box {
    background: #FFF;
    border: 1px solid #EBEAEB;
    box-sizing: border-box;
    box-shadow: 0 12px 48px rgba(118, 116, 125, 0.08);
    border-radius: 4px;
    padding: 50px 70px !important;
}

.sign-up .basic-form .custom-radios {
    width: 100%;
    display: flex;
}

.sign-up .basic-form .custom-radios label {
    display: inline-block;
    width: 100%;
    transition: all 0.3s;
    text-align: center;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #76747D;
    background: #F5F5F5;
    border: solid 1px #F5F5F5;
    padding: 14px 16px;
}

.sign-up .basic-form .custom-radios label:nth-child(2) {
    border-radius: 4px 0 0 4px;
}

.sign-up .basic-form .custom-radios label:nth-child(4) {
    border-radius: 0 4px 4px 0;
}

.sign-up .basic-form .custom-radios input[type=radio] {
    display: none;
}

.sign-up .basic-form .custom-radios input[type=radio]:checked + label {
    border: solid 1px #F54838;
    background: #F54838;
    color: #FFF;
}

.sign-up .basic-form .form-control {
    display: flex;
    flex-direction: column;
    padding: 14px 16px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D6D5D7;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 2px;
}

.sign-up .basic-form .form-group {
    margin-bottom: 24px;
}

.sign-up .basic-form .form-group label {
    margin-bottom: 2px;
    font-size: 14px;
    color: #3F3B48;
}

.sign-up .basic-form .form-group .form-check #check {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid #D6D5D7;
    box-sizing: border-box;
    border-radius: 4px;
    align-self: flex-start;
}

.sign-up .basic-form .form-group .form-check .form-check-label {
    margin-left: 8px;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3F3B48;
    order: 1;
    align-self: center;
}

.sign-up .basic-form .form-group .error {
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    color: #97959D;
    margin-top: 10px;
}

.sign-up .title {
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #241F2D;
    text-align: start;
    margin: 60px 0 0 0;
}

.sign-up .some-text {
    margin: 16px 0 40px;
    padding: 0;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3F3B48;
}

/* information page end */

.email_text {

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    color: #FFFFFF;
    margin-bottom: 12px;
}

.getStarted {
    padding: 140px 0;
}

.getStartedImg {
    background-image: url("../img/getStarted.png");
    max-width: 1208px;
    min-height: 320px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.getStartedTitle {
    width: 43%;
}

.getStartedButton {
    width: 140px;
    height: 44px;
    background: #F54838;
    border: 2px #F54838;
    border-radius: 4px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    align-self: center;
    margin: 0px 0px;
    cursor: pointer;
}

.findJobIconDivs {
    width: 64px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 24px;
}

.findJob {
    padding: 140px 116px 0 116px;
    background: linear-gradient(180deg, #F3F6FB 0%, #FFFFFF 100%);
}

.findJobFlex {
    display: flex;
    justify-content: center;
}

.findJobDivs {
    width: 22%;
}

.findJobDiv1 {
    /* width: 57%; */

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #241F2D;
    margin-bottom: 16px;
}

.findJobDiv2 {
    /* width: 72%; */
    font-weight: normal;
    font-size: 16px;
    line-height: 1.56;
    color: #3F3B48;
}

.findTranslator {
    display: block;
    justify-content: center;
    text-align: center;
}

.findTranslatorMainTitle {
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #241F2D;
    margin: 140px 0 40px 0;

}

.findTranslatorDivSTitle1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #241F2D;
    margin-top: 18px;

}

.findTranslatorDivSTitle2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #97959D;

}

.findTranslatorDiv {
    background: #FFFFFF;
    background: #FFFFFF;
    width: 350px;
    min-height: 200px;
    padding: 50px;
    border: 1px solid #EBEAEB;

}

.findTranslatorFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.findJobIconDiv {
    max-width: 334px;

    /* width: 20%; */
}

.whyChooseMainTitle1 {
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
    color: #241F2D;
    margin: 134px 0 24px 0px;

}

.whyChooseMainTitle2 {
    font-weight: normal;
    color: #3F3B48;
    font-size: 18px;
    line-height: 1.56
}

.whyChooseIconDivs {
    width: 64px;
    height: 64px;
    background: #F3F5FB;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 24px;
}

.whyChooseIconDiv {
    max-width: 334px;
    width: 20%;
    width: 15%;
    margin: 0 40px 0 0;
}

.whyChooseMainTitleCenter {
    text-align: center;
}

.whyChooseFlex {
    display: flex;
    padding: 60px 116px;
    justify-content: center;
}

#findTranslators {
    width: 180px;
    height: 44px;
    margin-bottom: 140px;
}

.findTranslatorsButton {
    text-align: center;
}

.help {

    font-style: normal;
    padding: 0 0 0 124px;
    display: flex;
    min-height: 720px;
    background: #EAECF5;
    border-radius: 4px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

.helpMianTitle {
    font-size: 42px;
    line-height: 120%;
    color: #241F2D;
    font-weight: bold;
    margin-bottom: 40px;
}

.helpTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #241F2D;
    margin-left: 32px;
    margin-bottom: 16px;
}

.helpText {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.56;
    color: #3F3B48;
    margin-bottom: 10px;
}

.heltTextOrange {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F54838;
    margin-right: 9px;
}

.heltTextOrangeAndSlackFlex {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

.helpTitleAndLineFlex {
    display: flex;
    align-items: center;
}

/* .helpPadding{
    width: 32%;
} */
.customerAndTranslator {
    width: 140px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 4px 4px 0px 0px;
    align-items: center;
    border: 1px solid #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    cursor: pointer;

}

.customerAndTranslatorFlex {
    display: flex;
}

.customerAndTranslator:active {
    color: yellow;
}

#translator {
    /*background: #3F3B48;*/
    color: #BEBDC2;
    border: 1px #3F3B48;
}

#costomer {

    color: #F54838;
}

.search {
    width: 102px;
    height: 64px;
    background: #F54838;
    border: 1px solid #F54838;
    border-radius: 0px 4px 4px 0px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.allSelectsAndSearchFlex {
    display: flex;
}

.allSelects {
    width: 264px;
    height: 64px;
    background: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid #E0E0E1;
    padding: 0 16px;

}

.select {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #97959D;
}

.selectDownText {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #241F2D;
}

.customerAndTranslatorMain {
    display: grid;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: -32px;
}

.loginAndSignup {
    background: none;
    border: none;
    color: #FFFFFF;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

#signup {
    width: 80px;
    height: 36px;
    background: #F54838;
    border-radius: 4px;
    margin-left: 23px;
    display: block;
    text-align: center;
    line-height: 36px;
    color: #fff;
}


/*-------------------------- confirmation page start ----------------------*/

.step2_container {
    max-width: 1440px;
    margin: 0 auto;
}

#steps_block {
    width: 100%;
    background: #F3F6FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#steps_block a {

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    padding: 20px;
    color: #241F2D;
}

#steps_block a:last-child {
    color: #97959D;
}

#steps_block .span1 {
    width: 9px;
    height: 7.5px;
    color: #33B453;
    margin: 0 5px;

}

#steps_block .span2 {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 16px;
    background-color: #241F2D;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}

.active_a {
    border-bottom: 2px solid #F54838;;
}

#steps_block .span3 {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 16px;
    background-color: #97959D;
    color: #F5F5F5;
    margin: 0 5px;
    border-radius: 50%;

}

#confirmation_container {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#confirmation {
    width: 584px;
    margin-top: 60px;
}

#confirmation h3 {

    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
    /* identical to box height, or 35px */
    /* Dark / Dark Gray 1 */
    color: #241F2D;
    margin-bottom: 16px;
}

#confirmation p {
    /* Paragraph Medium - 16px | 1.56 */

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156%;
    /* identical to box height, or 25px */
    /* Dark / Dark Gray 2 */

    color: #3F3B48;
}

#code_from_email_container {
    width: 584px;
    background: #FFFFFF;
    /* Light / Light Gray 3 */
    border: 1px solid #EBEAEB;
    box-sizing: border-box;
    box-shadow: 0px 12px 48px rgba(118, 116, 125, 0.08);
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 140px;
}

#code_from_email_container p {

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 156%;
    color: #241F2D;
    padding: 0 70px;
    margin-top: 50px;
}

#code_from_email_container p span {
    color: #F54838;
}

.Code_email_p {

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 156%;
    color: #241F2D;
    padding: 0 70px;
}

.Code_email_p input {
    margin-top: 4px;
    margin-bottom: 24px;
    width: 444px;
    height: 48px;
    background: #FFFFFF;
    /* Light / Light Gray 1 */
    border: 1px solid #D6D5D7;
    box-sizing: border-box;
    border-radius: 4px;
}

button.confirm_email {
    display: block;
    padding: 0 70px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    width: 444px;
    height: 44px;
    margin: 0 auto 50px auto;
    text-align: center;
    line-height: 44px;
    background: #F54838;
    border-radius: 4px;

}

/* confirmation page end */

/*----------------------------------------- completing page start -------------------------------*/


.step3_container {
    max-width: 1440px;
    margin: 0 auto;
}

#steps_block_3 {
    width: 100%;
    background: #F3F6FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#steps_block_3 a {

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    padding: 20px;
    color: #241F2D;
}

#steps_block_3 a:last-child {
    color: #241F2D;
}

#steps_block_3 .span1 {
    width: 9px;
    height: 7.5px;
    color: #33B453;
    margin: 0 5px;

}

#steps_block_3 .span2 {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 16px;
    background-color: #241F2D;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}

.active_a {
    border-bottom: 2px solid #F54838;;
}

#steps_block .span3 {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 16px;
    background-color: #97959D;
    color: #F5F5F5;
    margin: 0 5px;
    border-radius: 50%;

}

#confirmation_container {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#confirmation {
    width: 584px;
    margin: 60px 0;

}

#confirmation h3 {

    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
    /* identical to box height, or 35px */
    /* Dark / Dark Gray 1 */
    color: #241F2D;
    margin-bottom: 16px;
}

#confirmation p {
    /* Paragraph Medium - 16px | 1.56 */

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156%;
    /* identical to box height, or 25px */
    /* Dark / Dark Gray 2 */
    color: #3F3B48;
}

#code_from_email_container {
    width: 584px;
    background: #FFFFFF;
    /* Light / Light Gray 3 */
    border: 1px solid #EBEAEB;
    box-sizing: border-box;
    box-shadow: 0px 12px 48px rgba(118, 116, 125, 0.08);
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 140px;
}

#code_from_email_container p {

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 156%;
    color: #241F2D;
    padding: 0 70px;
    margin-top: 50px;
}

#code_from_email_container p span {
    color: #F54838;
}

.Code_email_p {

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 156%;
    color: #241F2D;
    padding: 0 70px;
}

.Code_email_p input {
    margin-top: 4px;
    margin-bottom: 24px;
    width: 444px;
    height: 48px;
    background: #FFFFFF;
    /* Light / Light Gray 1 */
    border: 1px solid #D6D5D7;
    box-sizing: border-box;
    border-radius: 4px;
}

a.Sign_account {
    background: #F54838;
    border-radius: 4px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    color: #FFFFFF;
    padding: 12px 25.5px;
    margin: 32px 0;
    display: inline-block;
}


/* completing page start */


.clients {
    max-width: 480px;
    min-height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 12px 48px rgba(118, 116, 125, 0.08), 0px 1px 1px rgba(118, 116, 125, 0.2);
    border-radius: 4px;

    padding: 48px;
    margin: 0 20px;
    margin: 0 40px 0 0;

}

#lastClients {
    margin: 0;
}

.cliientsTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
    color: #241F2D;
}

.clientText {
    font-style: italic;
    font-weight: normal;
    font-size: 21px;
    line-height: 145%;
    color: #241F2D;
    margin-bottom: 26px;
}

.clientsName {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #241F2D;
}

.clientsJob {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #97959D;
}

.clientsImgAndNameFlex {
    display: flex;
    align-items: center;
}

.clientsNameAndJob {
    margin-left: 16px;

}

.clientsAllDiv {
    display: flex;
    margin: 70px 0 60px 0;

}

.clientsMain {
    display: grid;
    justify-content: center;
    background: linear-gradient(180deg, #F3F6FB 0%, #FFFFFF 100%);

}

.cliientsTitleAndSlackS {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.slackS {
    display: flex;
}

#slackPrev {
    margin-right: 16px;
}

.slackDiv {
    width: 48px;
    background: #FFFFFF;
    border-radius: 100px;
    text-align: center;
}

.slackImg {
    margin-top: 19px;
}

.registrationMainTitle {

    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
    text-align: center;
    color: #241F2D;
    margin: 110px 0 16px 0;
}

/*registor btn start 13.05*/
.btn-continue:focus, .btn-continue:active {
    background-color: #f43220 !important;
    border-color: #F54838 !important;
}

.btn-continue:hover {
    background-color: #f32916 !important;
    border-color: #F54838 !important;
    color: #fff;
}

/*registor btn end 13.05*/

.registrationTitle {

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #3F3B48;
    margin: 0 20px 60px 20px;
}

.registrationButton {
    width: 120px;
    height: 44px;
    background: #F54838;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.registrationTexttTitle {

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #241F2D;
    margin-bottom: 12px;
}

.registrationText {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156%;
    color: #3F3B48;
    margin-bottom: 24px;

}

.registrationDiv {
    max-width: 396px;
    min-height: 133px;
    background: #FFFFFF;
    border: 1px solid #EBEAEB;
    box-sizing: border-box;
    box-shadow: 0px 12px 48px rgba(118, 116, 125, 0.08);
    border-radius: 4px;
    padding: 40px 45px;
    text-align: center;
    margin-bottom: 140px;
}

#registrationLogin {
    color: #F54838;
}

.registrationDivS {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

#registrationMenu {
    padding: 30px;
}

/* footer start */

footer {
    background: #241F2D;
    padding: 126px 0 !important;
}

.footer_container {
    max-width: 1208px !important;
    margin: auto;
    display: flex !important;
    justify-content: space-between;
}

.footer_2_block, .footer_3_block, .footer_4_block, .footer_5_block {
    flex: 1;
}

.footer_1_block {
    flex: 2;
}

.to-right {
    margin-left: 9%;
}

.footer_2_block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer_2_block a {

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer_2_block a:hover {
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}

.footer_1_block p {

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    /*padding-right: 35%;*/ /* TODO footer p-r-0 */
    color: #FFFFFF;
    margin: 27px 0;
}

.copyright {
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
}

.soc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.soc a {
    margin-right: 30px;
}

/* footer end */

/*TODO*/

.collapse.navbar-collapse {
    /*align-items: flex-end;*/
}
.navbar-expand-lg .white_nav a.nav-link {
    padding-top: 20px;
}
li.home_header_default_link_login a {
    padding-top: 14px;
}
